<div class="jumbotron">
    <div class="jumbotron ">
        <div class="img navbar-left">
            <img ng-src="images/avatar.png" alt="avatar" class="photo"  width="110"  height="130"/>
        </div>
        <p class="navbar-left">Haudy man</p>

        <form class="navbar-form navbar-right" role="search" aria-label="Right Align">
            <div class="form-group">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <input type="text" class="span3" id="search" placeholder="Search" >
                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            </div>

            <div>
                <span class="glyphicon glyphicon-info-sign navbar-right"></span>
                <span class="glyphicon glyphicon-cog navbar-right"></span>
            </div>
        </form>

    </div>