
<div class="jumbotron">
    <div class="jumbotron ">
        <form class="navbar-form navbar-right" role="search" aria-label="Right Align">
            <div class="form-group">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <input type="text" class="span3" id="search" placeholder="Search" >
                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            </div>

            <div>
                <span class="glyphicon glyphicon-info-sign navbar-right"></span>
                <span class="glyphicon glyphicon-cog navbar-right"></span>
            </div>
        </form>

    </div>

    <div class="jumbotron">
        <div class="btn btn-primary btn-lg btn-block">Apps</div>
        <div class="btn btn-lg btn-success btn-block">Games</div>
        <div class="dropdown">
            <button class="btn btn-primary btn-lg btn-block dropdown-toggle" type="button" id="dropdownMenu1"
                    data-toggle="dropdown" aria-expanded="true">
                Movies
                <span class="glyphicon glyphicon-play navbar-right"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
            </ul>
        </div>
        <div class="btn btn-lg btn-success btn-block">Books</div>
        <div class="btn btn-primary btn-lg btn-block">Newspapers</div>
    </div>

</div>
